@import "src/assets/styles/icons-mixin.scss";
@import "src/assets/styles/color.scss";
@import "src/assets/styles/variable.scss";

$height: 529px;

$left-width: 880px;

$header-height: 40px;

$nav-li-width: 78px;

$handle-width: 8px;

$margin-top: 26px;

$v-li-height: 90px;

$v-li-width: 178px;

$margin-left: 20px;

.classify-section2 {
	width: 100%;
	height: $height;

	.left {
		width: $left-width;
		height: 100%;
		float: left;

		.header {
			width: 100%;
			hieght: $header-height;
			line-height: $header-height;

			.title {
				display: inline-block;
				height: 100%;
				line-height: $header-height;
				font-size: 24px;
				color: black;
				vertical-align: top;

				.txt {
					margin-left: 2px;
				}
			}

			.nav {
				display: inline-block;
				height: 100%;
				line-height: $header-height;
				text-align: center;
				border-bottom: 1px solid $gray1;
				font-size: 18px;
				margin-left: 15px;
				overflow: hidden;
				vertical-align: top;

				ul {
					margin-bottom: 0px;
					position: relative;

					li {
						height: 100%;
						width: $nav-li-width;
						position: relative;
						float: left;

						a {
							color: black;
							position: relative;
							bottom: 2px;

							&:hover {
								color: $blue1;
							}
						}

						.handle {
							width: $handle-width;
							height: $handle-width;
							background-color: $blue1;
							display: block;
							position: absolute;
							-moz-transform: rotate(45deg);
							bottom: - ( $handle-width ) / 2;
							left: ( $nav-li-width - $handle-width ) / 2
						}
					}

					.selected {
						border-bottom: 1px solid $blue1;
						
						a {
							color: $blue1;
						}
					}
				}
			}

			.schedule {
				width: 106px;
				height: 36px;
				border-radius: 5px;
				float: right;
				margin-top: ( $header-height - 36 ) / 2;
				border: 1px solid $red1;
				line-height: 36px;
				text-align: center;
				display: block;
				color: $red1;
				-moz-transition: background-color 0.5s,color 0.5s;

				&:hover {
					background-color: $red1;
					color: white;
				}
			}
		}

		.content {
			margin-top: $margin-top;
			width: 100%;
			height: $height - $margin-top - $header-height;

			ul {
				li {
					float: left;
					margin-right: 34px;
					margin-bottom: 36px;
				}
			}
		}
	}

	.right {
		width: $main_width - $margin-left - $left-width;
		margin-left: $margin-left;
		float: left;
		height: 100%;
	} 
}

.i-fanju {
	@include i-fanju;
} 