@import "~compass-mixins/lib/compass";
@import "src/assets/styles/icons-mixin.scss";
@import "src/assets/styles/color.scss";
@import "src/assets/styles/variable.scss";

.main {
	width: 100%;

	.header {
		width: $main_width;
		margin: 0px auto 0px auto;
		height: 125px;
	}

	.video {
		width: 100%;
		background-color: #f6f9fa;
		border-top: 1px solid $gray1;
		margin-top: 20px;
		padding-bottom: 20px;

		.player-wrap, .bottom-toolbar-wrap {
			width: $main_width;
			margin: 20px auto 0px auto;
		}

		.bottom-toolbar-wrap {
			margin: 20px auto 0px auto;
			width: $main_width;
		} 
	}

	.footer-wrap {
		width: 100%;
		border-top: 1px solid $gray1;
		background-color: white;
	}
}

