@import "~compass-mixins/lib/compass";
@import "src/assets/styles/icons-mixin.scss";
@import "src/assets/styles/color.scss";
@import "src/assets/styles/variable.scss";

$height: 83px;

.bottom-toolbar {
	width: $main_width;
	height: $height;
	font-size: 12px;
	border-radius: 5px;
	
	border: 1px solid $gray1;
	background-color: white;

	.content {
		height: 100%;
		width: $main_width - 40;
		margin: 0px auto;
		position: relative;

		.share-option {
			height: 100%;
			width: 270px;
			margin-left: -20px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			border-radius: 5px 0px 0px 0px;

			&:hover {
				border-left: 1px solid $gray1;
				background-color: white;
				@include box-shadow ( 0px 0px 3px 0px rgba(0,0,0,0.2) );

				.bottom-bar {
					left: -1px;
					display: block;
				}

				.copy-url {
					left: -1px;
					height: 237px;
					border-left: 1px solid $gray1;
					border-right: 1px solid $gray1;
					border-bottom: 1px solid $gray1;
				}

				.share-count {
					margin-left: 19px;
				}
			}

			.share-count {
				height: 100%;
				display: inline-block;
				width: 38px;
				margin-left: 20px;

				.label {
					font-size: 18px;
					color: black;
					margin-top: ( $height - 36 ) / 2 + 5;
					padding: 0px;
					display: inline-block;
				}

				.count {
					width: 100%;
					color: $font-color2;
				}
			}

			.icon-drop-down {
				height: 100%;
				display: inline-block;
			}

			.share-platforms {
				height: 100%;
				display: inline-block;
				vertical-align: top;

				li {
					display: inline-block;
					margin-top: ( $height - 36 ) / 2;
					vertical-align: top;
					margin-left: 5px; 
				}

				li.share-to-weibo {
					.icon {
						@include i-weibo2;
					}

					a {
						&:hover {
							.icon {
								@include i-weibo2-hover;
							}
						}
					}
				}

				li.share-to-qqkongjian {
					.icon {
						@include i-qqkongjian2;
					}

					a {
						&:hover {
							.icon {
								@include i-qqkongjian2-hover;
							}
						}
					}
				}

				li.share-to-qq {
					.icon {
						@include i-qq2;
					}

					a {
						&:hover {
							.icon {
								@include i-qq2-hover;
							}
						}
					}
				}

				li.share-to-baidutieba {
					.icon {
						@include i-tieba2;
					}

					a {
						&:hover {
							.icon {
								@include i-tieba2-hover;
							}
						}
					}
				}
			}

			.copy-url {
				width: 642px;
				height: 0px;
				@include transition ( height 0.3s );
				overflow: hidden;
				position: absolute;
				top: $height;
				left: 1px;
				background-color: white;
				@include box-shadow ( 0px 0px 3px 0px rgba(0,0,0,0.2) );
				z-index: 999;
				

				.left {
					width: 416px;
					height: 178px;
					position: relative;
					float: left;
					margin-top: 20px;

					.split-line {
						width: 1px;
						height: 100%;
						background-color: $gray1;
						top: 0px;
						right: 0px;
						position: absolute;
					}

					.title {
						font-size: 18px;
						width: 355px;
						margin: 26px auto 0px auto;
					}

					ul {
						width: 355px;
						margin: 0px auto;

						li {
							width: 100%;
							height: 20px;
							line-height: 20px;
							margin-top: 22px;

							.label2 {
								color: $font-color4;
							}

							.url {
								float: right;
								height: 100%;
								width: 280px;
								border: 1px solid $gray1;
								position: relative;

								input {
									height: 100%;
									width: 240px;
									padding: 0px 10px;
									border: 0px;
									position: absolute;
									left: 0px;
									top: 0px;
								}

								.btn-copy {
									height: 100%;
									border: 1px solid $blue1;
									width: 40px;
									position: absolute;
									top: -1px;
									color: white;
									display: block;
									right: 0px;
									box-sizing: content-box;
									background-color: $blue1;
									text-align: center;
								}
							}
						}
					}
				}

				.right {
					width: 642px - 415px - 3;
					height: 178px;
					float: left;
					margin-top: 20px;

					.title {
						width: 100%;
						text-align: center;
						font-size: 16px;
						color: $font-color1;
						margin-top: 30px;
					}

					.qr-code {
						width: 111px;
						height: 111px;
						background-image: url(/assets/img/qr_code_small.png);
						margin: 20px auto 0px auto;
					}

				}
			}

			.bottom-bar {
				width: 100%;
				height: 5px;
				position: absolute;
				bottom: -3px;
				background-color: white;
				z-index: 1000;
				left: 0px;
				border-left: 1px solid $gray1;
				display: none;
			}
		}

		.others {
			height: 100%;
			display: inline-block;
			vertical-align: top;
			

			ul {
				height: 100%;

				li {
					display: inline-block;
					height: 100%;
					vertical-align: top;
					background-color: transparent;
					margin-left: 20px;
					padding-top: 15px;

					a  {
						display: inline-block;

						.anim-icon, .txt {
							display: inline-block;
							vertical-align: top;
						}

						.anim-icon {
							margin-top: -11px;
						}

						.txt {
							color: $font-color2;	
							margin-top: 10px;
							margin-left: -10px;

							.label2 {
								color: black;
								font-size: 16px;
							}
						}
					}
				}

				li.coin {
					overflow: hidden;
				}

				li.star {
					a {
						.anim-icon {
							margin-top: -30px;
						}
					}
				}

				li.watch-by-phone {
					position: relative;
					z-index: 9999;
					padding-right: 20px;

					.bottom-fill {
						width: 100%;
						height: 5px;
						background-color: white;
						bottom: -2px;
						position: absolute;
						z-index: 1000;
						display: none;
					}

					&:hover {
						@include box-shadow ( 0px 0px 3px 0px rgba(0,0,0,0.3) );

						.qr-code-wrap {
							height: 203px;
						}

						.bottom-fill {
							display: block;
						}
					}

					.qr-code-wrap {
						width: 374px;
						position: absolute;
						z-index: 999;
						background-color: white;
						top: 100%;
						left: 0px;
						background-color: white;
						@include box-shadow ( 0px 0px 3px 0px rgba(0,0,0,0.2) );
						overflow: hidden;
						height: 0px;
						@include transition ( height 0.2s );

						.qr-code {
							width: 101px;
							height: 101px;
							float: left;
							margin-left: 30px;
							margin-top: 23px;
							background-image: url(/assets/img/qr_code_small2.png);
						}

						.title {
							width: 190px;
							float: left;
							margin-left: 10px; 
							margin-top: 23px;
							font-size: 14px;
						}

						.introdution {
							width: 374px - 30;
							float: left;
							font-size: 13px;
							margin-left: 30px;
							margin-top: 20px;

						}
					}
				}
			}
		}

		.btn-charge {
			width: 146px;
			height: 40px;
			border-radius: 20px;
			border: 1px solid #f9afb0;
			display: inline-block;
			vertical-align: top;
			top: ( $height - 40 ) / 2;
			position: absolute;
			text-align: center;
			line-height: 40px;
			font-size: 18px;
			color: #f37071;
			font-weight: bold;
			right: 0px;

			.anim-icon {
				position: absolute;
				width: 80px;
				height: 80px;
				top: -20px;
				left: -40px;
			}
		}
	}
}