<div class="popularize-section">
	<div class="left">
		<div class="header">
			<div class="title">
				<span class="i-popularize"></span>
				<span class="txt">推广</span>
			</div>
			<div class="hot">
				<a href="javasccript:;">一起来跳舞吧，趁我们在校园相遇</a>
			</div>
		</div>
		<div class="content">
			<ul class="list-unstyled">
				<li><v-exhibition-enhance></v-exhibition-enhance></li>
				<li><v-exhibition-enhance></v-exhibition-enhance></li>
				<li><v-exhibition-enhance></v-exhibition-enhance></li>
				<li><v-exhibition-enhance></v-exhibition-enhance></li>
				<li><v-exhibition-enhance></v-exhibition-enhance></li>
			</ul>
		</div>
	</div>
	<div class="right">
		<div class="header">
			<div class="statistics">
				<span class="online-people">在线人数：894784</span>
				<span class="new-contribute">最新投稿：20101</span>
			</div>
		</div>
		<div class="poster">
			<img src="/assets/img/c2.jpg" width="100%" height="100%">
		</div>
	</div>
</div>