<div class="top-recommend">
	<div class="root-img-slide">
		<img-slide></img-slide>
	</div>
	<div class="root-recommends">
		<ul class="list-unstyled">
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
			<li>
				<v-exhibition></v-exhibition>
			</li>
		</ul>
	</div>
</div>
