@import "src/assets/styles/icons-mixin.scss";
@import "src/assets/styles/color.scss";
@import "src/assets/styles/variable.scss";

$img-slide-width: 440px;
$height: 220px;

.top-recommend {
	width: 100%;
	height: $height;
}

.root-img-slide {
	width: $img-slide-width;
	height: $height;
	float: left;
}

.root-recommends {
	margin-left: 20px;
	width: $main_width - $img-slide-width - 20;
	height: $height;
	float: left;

	ul {
		margin-left: -20px;
		margin-top: -17px;

		li {
			float: left;
			margin-left: 20px;
			margin-top: 17px;
		}
	}
}