<div class="main">
	<div class="left">
		<div class="top-ad">
			<div class="main">
				<a href="javascript:;" class="btn-pre"></a>
				<div class="ad-content"></div>
				<a href="javascript:;" class="btn-nest"></a>
			</div>
		</div>
		<div class="video-region"></div>
		<div class="controllor"></div>
		<div class="danmu-editor"></div>
	</div> 
	<div class="right">
		<div class="header">
			
		</div>
		<div class="content">
			<div class="nav">
				<div class="danmu-list"></div>
			</div>
		</div>
	</div>
</div>
