@mixin public {
	background-image: url(/assets/img/icons.png);
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}

@mixin i-TV {
	@include public;

	width: 17px;
	height: 17px;
	background-position: -854px -87px;
	line-height: 17px;
}

@mixin i-v_contribute {
	@include public;

	width: 21px;
	height: 21px;
	background-position: -470px -918px;
}

@mixin i-v_manage {
	@include public;

	width: 21px;
	height: 23px;
	background-position: -470px -980px;
}

@mixin i-create_center {
	@include public;

	width: 21px;
	height: 20px;
	background-position: -470px -1750px;
}

@mixin i-ranking {
	@include public;

	width: 17px;
	height: 17px;
	background-position: -663px -662px;	
}

@mixin i-search {
	@include public;

	width: 20px;
	height: 20px;
	background-position: -662px -727px;	
}

@mixin i-search_hover {
	@include public;

	width: 20px;
	height: 20px;
	background-position: -727px -727px;	
}

@mixin i-arrow1 {
	@include public;
    
    width: 6px;
    height: 10px;
	background-position: -476px -603px;
}

@mixin i-dot-hover {
	@include public;

	width: 16px;
	height: 16px;
	background-position: -920px -793px;
}

@mixin i-dot {
	@include public;

	width: 16px;
	height: 16px;
	background-position: -856px -793px;
}

@mixin i-dot-selected {
	@include public;

	width: 19px;
	height: 19px;
	background-position: -854px -727px;
}

@mixin i-play {
	@include public;

	width: 13px;
	height: 13px;
	background-position: -281px -89px;
}

@mixin i-comments {
	@include public;

	width: 13px;
	height: 12px;
	background-position: -281px -218px;
}

@mixin i-crown-golden {
	@include public;

	width: 25px;
	height: 38px;
	background-position: -848px -147px;
} 

@mixin i-crown-silver {
	@include public;

	width: 25px;
	height: 38px;
	background-position: -848px -211px;
} 

@mixin i-heart {
	@include public;
}

@mixin i-home {
	@include public;

	width: 18px;
	height: 17px;
	background-position: -664px -1175px;
}

@mixin i-camera {
	@include public;

	width: 19px;
	height: 18px;
	background-position: -664px -534px;
}

@mixin i-ground {
	@include public;

	width: 19px;
	height: 18px;
	background-position: -663px -920px;
}

@mixin i-xiaoheiwu {
	@include public;

	width: 20px;
	height: 19px;
	background-position: -726px -535px;
}

@mixin i-popularize {
	@include public;

	width: 38px;
	height: 35px;
	background-position: -141px -77px;
}

@mixin i-live {
	@include public;

	width: 38px;
	height: 35px;
	background-position: -141px -665px;
}

@mixin i-animation {
	@include public;

	width: 38px;
	height: 35px;
	background-position: -141px -911px;
}

@mixin i-fanju {
	@include public;

	width: 38px;
	height: 38px;
	background-position: -141px -141px;
}


@mixin i-guochuang {
	display: inline-block;
	background-img: url(/assets/img/d1.png);
	width: 40px;
	height: 40px;	
}
 

@mixin i-music {
	@include public;

	width: 38px;
	height: 40px;
	background-position: -141px -266px;
}


@mixin i-dance {
	@include public;

	width: 38px;
	height: 40px;
	background-position: -141px -461px;
}



@mixin i-game {
	@include public;

	width: 38px;
	height: 41px;
	background-position: -141px -203px;	
}



@mixin i-technology {
	@include public;

	width: 38px;
	height: 40px;
	background-position: -141px -524px;
}



@mixin i-lift {
	@include public;

	width: 43px;
	height: 37px;
	background-position: -136px -972px;
}



@mixin i-guichu {
	@include public;

	width: 38px;
	height: 41px;
	background-position: -141x -331px;
}



@mixin i-fashion {
	@include public;

	width: 38px;
	height: 42px;
	background-position: -141x -717px;
}



@mixin i-entertainment {
	@include public;

	width: 38px;
	height: 40px;
	background-position: -141x -1032px;
}



@mixin i-mivie {
	@include public;

	width: 38px;
	height: 37px;
	background-position: -141x -397px;
}



@mixin i-TVseries {
	@include public;

	width: 38px;
	height: 38px;
	background-position: -141x -846px;	
}



@mixin i-recommended {
	@include public;

	width: 38px;
	height: 30px;
	background-position: -141x -785px;
}

@mixin i-arrow-down {
	@include public;

	width: 16px;
	height: 6px;
	background-position: -475px -157px;
}

@mixin i-hot {
	@include public;

	width: 18px;
	height: 16px;
	background-position: -663px -1112px;
}

@mixin i-rotate {
	@include public;

	width: 12px;
	height: 13px;
	background-position: -475px -89px;
}

@mixin i-arrow-right {
	@include public;

	width: 9px;
	height: 14px;
	background-position: -477px -216px;
}

@mixin i-weixin {
	@include public;

	width: 60px;
	height: 60px;
	background-position: -1024px -67px;
}

@mixin i-weixin-hover {
	@include public;

	width: 60px;
	height: 60px;
	background-position: -1091px -67px;
}

@mixin i-weibo {
	@include public;

	width: 60px;
	height: 60px;
	background-position: -1024px -323px;
}

@mixin i-weibo-hover {
	@include public;

	width: 60px;
	height: 60px;
	background-position: -1091px -323px;
}

@mixin i-mobile {
	@include public;

	width: 60px;
	height: 60px;
	background-position: -1024px -196px;
}

@mixin i-mobile-hover {
	@include public;

	width: 60px;
	height: 60px;
	background-position: -1091px -196px;
}

@mixin i-play-big {
	@include public;

	width: 19px;
	height: 19px;
	background-position: -662px -215px;
}

@mixin i-recomand-big {
	@include public;

	width: 19px;
	height: 19px;
	background-position: -662px -280px;
}

@mixin i-coin-big {
	@include public;

	width: 19px;
	height: 19px;
	background-position: -662px -343px;
}

@mixin i-letter {
	@include public;

	width: 17px;
	height: 15px;
	background-position: -280px -2009px;
}

@mixin i-letter-hover {
	@include public;

	width: 17px;
	height: 15px;
	background-position: -343px -2009px;
}

@mixin i-weibo2 {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1359px -588px;
}

@mixin i-weibo2-hover {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1429px -588px;
}

@mixin i-tieba2 {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1359px -658px;
}

@mixin i-tieba2-hover {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1429px -658px;
}

@mixin i-qqkongjian2 {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1359px -728px;
}

@mixin i-qqkongjian2-hover {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1429px -728px;
}

@mixin i-qq2 {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1359px -798px;
}

@mixin i-qq2-hover {
	@include public;

	width: 36px;
	height: 36px;
	background-position: -1429px -798px;
}

@mixin i-strip {
	@include public;

	width: 30px;
	height: 15px;
	background-position: -655px -1369px;
}

@mixin i-plug {
	@include public;

	width: 15px;
	height: 14px;
	background-position: -664px -1433px;
}

@mixin i-battery-rank1 {
	@include public;

	width: 16px;
	height: 26px;
	background-position: -664px -1491px;
}

@mixin i-battery-rank2 {
	@include public;

	width: 16px;
	height: 26px;
	background-position: -664px -1555px;
}

@mixin i-battery-rank3 {
	@include public;

	width: 16px;
	height: 26px;
	background-position: -664px -1619px;
}

@mixin i-rank-up {
	@include public;

	width: 10px;
	height: 11px;
	background-position: -346px -2139px;
}

@mixin i-slide {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 38px;
	height: 38px;
	background-position: -3px -87px;
}

@mixin i-slide-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 38px;
	height: 38px;
	background-position: -3px -219px;
}

@mixin i-refresh {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 14px;
	height: 14px;
	background-position: 0px -1179px;
}

@mixin i-refresh-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 14px;
	height: 14px;
	background-position: 0px -1193px;
}

@mixin i-lock {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 26px;
	height: 26px;
	background-position: 0px -1153px;
}

@mixin i-ok {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 26px;
	height: 26px;
	background-position: 0px -304px;
}

@mixin i-fail {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons2.png);

	width: 26px;
	height: 26px;
	background-position: 0px -414px;
}

@mixin i-artical {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 11px;
	height: 13px;
	background-position: -27px -25px;
}

@mixin i-artical-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 11px;
	height: 13px;
	background-position: -91px -25px;
}

@mixin i-question {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 13px;
	height: 13px;
	background-position: -26px -90px;
}

@mixin i-question-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 13px;
	height: 13px;
	background-position: -90px -90px;
}

@mixin i-file {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 44px;
	height: 44px;
	background-position: -202px -10px;
}

@mixin i-play2 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 9px;
	height: 12px;
	background-position: -29px -1434px;
}

@mixin i-play2-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 9px;
	height: 12px;
	background-position: -92px -1434px;
}

@mixin i-stop {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 9px;
	height: 12px;
	background-position: -27px -1370px;
}

@mixin i-stop-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 9px;
	height: 12px;
	background-position: -91px -1370px;
}

@mixin i-delete {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 13px;
	height: 13px;
	background-position: -25px -1305px;
}

@mixin i-tip {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 13px;
	height: 17px;
	background-position: -26px -856px;
}

@mixin i-cancel {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 11px;
	height: 11px;
	background-position: -24px -794px;
}

@mixin i-cancel-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 11px;
	height: 11px;
	background-position: -88px -794px;
}

@mixin i-reselecte {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 13px;
	height: 13px;
	background-position: -25px -537px;
}

@mixin i-reselecte-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons3.png);

	width: 13px;
	height: 13px;
	background-position: -89px -537px;
}

@mixin i-forbid-top {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu.png);

	width: 48px;
	height: 51px;
	background-position: -18px -16px;
}

@mixin i-forbid-top-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu.png);

	width: 48px;
	height: 51px;
	background-position: -18px -81px;
}

@mixin i-forbid-bottom {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu.png);

	width: 48px;
	height: 51px;
	background-position: -81px -16px;
}

@mixin i-forbid-bottom-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu.png);

	width: 48px;
	height: 51px;
	background-position: -145px -81px;
}

@mixin i-forbid-scroll {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu.png);

	width: 48px;
	height: 51px;
	background-position: -145px -16px;
}

@mixin i-forbid-scroll-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu.png);

	width: 48px;
	height: 51px;
	background-position: -81px -81px;
}

@mixin i-forbid-colorful {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -18px -26px;
}

@mixin i-forbid-colorful-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -18px -87px;
}

@mixin i-forbid-common {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -81px -26px;
}

@mixin i-forbid-common-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -81px -87px;
}

@mixin i-forbid-subtitles {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -146px -26px;
}

@mixin i-forbid-subtitles-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -146px -87px;
}

@mixin i-forbid-special {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -212px -26px;
}

@mixin i-forbid-special-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/forbid-danmu2.png);

	width: 48px;
	height: 51px;
	background-position: -212px -87px;
}

@mixin i-Dtype-scroll {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -16px -27px;
}

@mixin i-Dtype-scroll-selected {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -16px -89px;
}

@mixin i-Dtype-scroll-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -16px -153px;
}

@mixin i-Dtype-top {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -92px -27px;
}

@mixin i-Dtype-top-selected {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -92px -89px;
}

@mixin i-Dtype-top-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -92px -153px;
}

@mixin i-Dtype-bottom {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -169px -27px;
}

@mixin i-Dtype-bottom-selected {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -169px -89px;
}

@mixin i-Dtype-bottom-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/danmu-mode.png);

	width: 48px;
	height: 49px;
	background-position: -168px -153px;
}

@mixin i-smile-face {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 16px;
	height: 16px;
	background-position: -408px -24px;
}

@mixin i-smile-face-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 16px;
	height: 16px;
	background-position: -472px -24px;
}

@mixin i-LV0 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -28px;
}

@mixin i-LV1 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -92px;
}

@mixin i-LV2 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -156px;
}

@mixin i-LV3 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -120px;
}

@mixin i-LV4 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -184px;
}

@mixin i-LV5 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -248px;
}

@mixin i-LV6 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -312px;
}

@mixin i-LV7 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -376px;
}

@mixin i-LV8 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -440px;
}

@mixin i-LV9 {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 19px;
	height: 9px;
	background-position: -23px -504px;
}

@mixin i-thumb-up {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 14px;
	height: 14px;
	background-position: -153px -24px;
}

@mixin i-thumb-up-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 14px;
	height: 14px;
	background-position: -218px -24px;
}

@mixin i-thumb-up-selected {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 14px;
	height: 14px;
	background-position: -218px -24px;
}

@mixin i-thumb-down {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 14px;
	height: 14px;
	background-position: -153px -154px;
}

@mixin i-thumb-down-hover {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 14px;
	height: 14px;
	background-position: -217px -154px;
}

@mixin i-thumb-up-selected {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(/assets/img/icons4.png);

	width: 14px;
	height: 14px;
	background-position: -218px -218px;
}