<div class="main">
	<top-recommend></top-recommend>
	<div class="root-popularize-section">
		<popularize-section></popularize-section>
	</div>
	<div class="root-classify-section2">
		<classify-section2>
			<div class="ranking">
				<div class="header">
					<div class="title"><span>排行</span></div>
					<div class="scope">
						<div class="select">
							<i class="i-arrow-down"></i>
							<span class="option selected">三日</span>
							<span class="option unselected">一周</span>
						</div>
					</div>
					<div class="content">
						<ranking></ranking>
					</div>
					<a class="btn-more" href="javascript:;">查看更多></a>
				</div>
			</div>
		</classify-section2>
	</div>	
	<div class="root-fanju-live">
		<classify-section>
			<div class="classify-section-left">
				<ul class="list-unstyled">
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
					<li>
						<v-exhibition-enhance></v-exhibition-enhance>
					</li>
				</ul>
			</div>
			<div class="classify-section-right">
				<div class="header">
					<p>特别推荐</p>
				</div>
				<div class="content">
					<img-slide2></img-slide2>
				</div>
			</div>
		</classify-section>
	</div>
</div>
